version: "3.9"

services:
  db:
    image: postgres:16
    container_name: db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 1372448
      POSTGRES_DB: postgres
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

  backend:
    build:
      context: .
      dockerfile: backend/dockerfile
    container_name: backend
    restart: always
    ports:
      - "3000:3000"
    env_file:
      - backend/.env
    depends_on:
      - db
    volumes:
      - ./shared:/project/shared
      - ./backend/prisma:/project/backend/prisma ##開発用(DB設計中のため)
      - ./backend/src:/project/backend/src

volumes:
  db_data:
