services:
  db:
    image: postgres:16
    container_name: db
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "postgres"]
      interval: 5s
      timeout: 5s
      retries: 5
    restart: always
    env_file:
      - .env
    volumes:
      - db_data:/var/lib/postgresql/data
    ports:
      - "5433:5432"

  backend:
    build:
      context: .
      dockerfile: backend/dockerfile
    container_name: backend
    restart: always
    ports:
      - "3000:3000"
    env_file:
      - .env
      - backend/.env
    depends_on:
      db:
        condition: service_healthy
    volumes:
      - ./shared:/project/shared
      - ./backend/prisma:/project/backend/prisma
      - ./backend/src:/project/backend/src

  # frontend:
  #   build: ./frontend
  #   ports:
  #     - "5173:5173"
  #   volumes:
  #     - ./shared:/project/shared

volumes:
  db_data:
